<!DOCTYPE html>
<html>
<head>
	<title>Hello WebSocket</title>
	<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="styles/main.css" rel="stylesheet">
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/angularjs/angular.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
	<script src="/webjars/bootstrap/js/modal.js"></script>
	<script src="/webjars/sockjs-client/sockjs.min.js"></script>
	<script src="/webjars/stomp-websocket/stomp.min.js"></script>
	<script src="scripts/app.js"></script>
	<script src="scripts/controller.js"></script>
</head>
<body ng-app="app" ng-controller="controller">
<noscript><h2 style="color: #ff0000">Seems your browser doesn't support JavaScript! WebSocket relies on JavaScript being enabled. Please enable JavaScript and reload this page!</h2></noscript>

<div id="main-content" class="container">
	<div class="row">
		<div class="col-md-6">
			<form class="form-inline">
				<div class="form-group">
					<label for="connect">WebSocket connection:</label>
					<button id="connect" class="btn btn-default" type="submit" ng-disabled="connected" ng-click="connect()">Connect</button>
					<button id="disconnect" class="btn vtn-default" type="submit" ng-disabled="!connected" ng-click="disconnect()">Disconnect</button>
				</div>
			</form>
		</div>
		<div class="col-md-6">
			<form class="form-inline">
				<div class="form-group">
					<label for="name">What is your name?</label>
					<input type="text" id="name" class="form-control" placeholder="Your name here..." ng-model="name">
				</div>
				<button id="send" class="btn btn-default" type="submit" ng-click="sendName()">Send</button>
			</form>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-12">
			<table id="conversation" class="table table-striped">
				<thead>
					<tr>
						<th>Greetings</th>
					</tr>
				</thead>
				<tbody id="greetings">
				<tr ng-repeat="greeting in greetings">
					<td>{{greeting}}</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>

<div class="modal fade" id="errorPanel" tabindex="-1" role="dialog" aria-labelledby="errorTitle" aria-hidden="false">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="errorTitle">System Error</h4>
			</div>
			<div class="modal-body">
				<span id="errorMessage"></span>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

</body>
</html>